body{margin:0;
  padding:0;
  background:#272634;}
  .main {display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;}
  .main ul {display:flex;
 border-bottom:10px solid #fff;}
  .main ul li {width:35px; height:35px;
  background:black;
  list-style:none;
  margin:0 10px;
  border-radius:150px;
  animation:bouncy 2s linear infinite;}
  @keyframes bouncy{
  0%{transform:translateY(0);}
  50%{transform:translateY(-250px);}
  100%{transform:translateY(0);}
  }
  ul li:nth-child(1) {
  animation-delay:0.1s;
  background:lightyellow;}
  
  ul li:nth-child(2) {
  animation-delay:1s;
  background:powderblue;}
  
  ul li:nth-child(3) {
  animation-delay:0.2s;
  background:cyan;}
  
  ul li:nth-child(4) {
  animation-delay:0.9s;
  background:skyblue;}
  
  ul li:nth-child(5) {
  animation-delay:0.4s;
  background:pink;}
  
  ul li:nth-child(6) {
  animation-delay:0.7s;
  background: #4799a8;}